<!-- menu -->
<div class="odd-menu-item top"><a data-behavior="to-members" class="item top" href="#">WE ARE</a></div>
<div class="odd-menu-item right"><a data-behavior="to-works" class="item right" href="#">WORKS</a></div>
<div class="odd-menu-item bottom"><a data-behavior="to-contact" class="item bottom" href="#">CONTACT</a></div>
<div class="odd-menu-item left"><a data-behavior="to-social" class="item left" href="#">THINKING</a></div>

<div class="close-btn" data-behavior="close-btn"></div>

<!-- main content wrapper -->
<div class="odd-content-wrapper">
  <div class="odd-content-inner">

    <%#
      canvas, 這個 div 把所有畫面包起來，利用控制 canvas 的絕對位置來達到在五個獨立
      頁面中滑動切換的目的。（例如：`top: 100%` 會往下滑）
    %>
    <div class="pages-canvas" data-behavior="canvas">

      <!-- landing page -->
      <section class="landing-page">
        <div class="logo-wrapper">
          <%= image_tag 'site-logo.png', class: 'logo' %>
        </div>
      </section>

      <!-- members page -->
      <section class="members-page">
        <div class="member-content-wrapper">
          <% @members.each do |member| %>
            <div class="content-wrapper">
              <div class="member-avatar">
                <%= render_member_avatar(member) %>
              </div>
              <div class="name">
                <span><%= member.name %></span>
              </div>
              <div class="job-icon">
                <span><%= render_profession_icon(member.profession) %></span>
              </div>
              <div class="work-field">
                <span><%= member.work_field %></span>
              </div>
              <div class="subtitle">
                <span><%= member.message %></span>
              </div>
              <div class="social-links">
                <span class="social-icon"><%= icon 'facebook-official' %></span>
                <span class="social-icon"><%= icon 'twitter-square' %></span>
                <span class="social-icon"><%= icon 'github' %></span>
                <span class="social-icon"><%= icon 'instagram' %></span>
              </div>
            </div>
          <% end %>
        </div>
      </section>

      <!-- works page -->
      <section class="works-page">
        <div class="temp">Building...</div>
      </section>

      <!-- contact page -->
      <section class="contact-page">

        <div class="contact-info-wrapper">
          <h2 class="title">CONTACT US</h2>
          <ul>
            <li class="info-item">
              <span class="info-title-col">
                Cell
              </span>
              <span class="content-col">
                +886-910-273-948
              </span>
            </li>
            <li class="info-item">
              <span class="info-title-col">
                Email
              </span>
              <span class="content-col">
                service@oddesign.expert
              </span>
            </li>
            <li class="info-item">
              <span class="info-title-col">
                Time
              </span>
              <span class="content-col">
                Mon-Fri 10:00-20:00
              </span>
            </li>
            <li class="info-item">
              <span class="info-title-col">
                Addr
              </span>
              <span class="content-col">
                台北市松山區八德路三段158巷20弄12-1號
              </span>
            </li>
          </ul>
        </div>

        <div class="contact-form-wrapper">
          <h2 class="title">CONTACT FORM</h2>
          <%= form_for @form do |f| %>
            <div class="input-field">
              <%= f.email_field :email, class: 'validate' %>
              <%= f.label :email, 'E-mail' %>
            </div>
            <div class="input-field">
              <%= f.text_field :name, class: 'validate' %>
              <%= f.label :name, 'Name' %>
            </div>
            <div class="input-field">
              <%= select :service_form, :project_type, enum_option_pairs(ServiceForm, :project_type), prompt: '選擇專案類型' %>
              <%= f.label :project_type, 'Project Type' %>
            </div>
            <div class="input-field col">
              <%= select :service_form, :budget_range, enum_option_pairs(ServiceForm, :budget_range), prompt: '選擇預算範圍' %>
              <%= f.label :project_type, 'Budget Range' %>
            </div>
            <div class="input-field">
              <%= f.text_area :description, class: 'materialize-textarea' %>
              <%= f.label :description, 'Description' %>
            </div>
            <button type='submit' class="submit-btn waves-effect waves-dark btn">SUBMIT</button>
          <% end %>
        </div>
      </section>

      <!-- social page -->
      <section class="social-page">
        <div class="temp">Building...</div>
      </section>
    </div>

  </div>
</div>

<%= content_for :handwrite_js do %>
  <script>
    $(document).ready(new OddDesign.CanvasController);
  </script>
<% end %>
